/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #8a05be;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .feature {
        width: 100%;
        margin-bottom: 40px;
    }
}