@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.405);
}

main{
    background-color: white;
    width: 60vw;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.418);
    max-width: 500px;
}

#hora{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.193);
}

img{
    width: 250px;
}

footer{
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.193);
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
